<div [hidden]="submitted">
  <h4>Create Student Result</h4></div>
  <div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Register Number</label>
        <input type="text" class="form-control" id="regno" required [(ngModel)]="students.regno" name="regno">
      </div>
  
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="students.name" name="name">
      </div>
  
      <div class="form-group">
        <label for="name">Tamil</label>
        <input type="text" class="form-control" id="mark1" required [(ngModel)]="students.mark1" name="mark1">
      </div>
      <div class="form-group">
          <label for="name">English</label>
          <input type="text" class="form-control" id="mark2" required [(ngModel)]="students.mark2" name="mark2">
        </div>
        <div class="form-group">
          <label for="name">Maths</label>
          <input type="text" class="form-control" id="mark3" required [(ngModel)]="students.mark3" name="mark3">
        </div>
        <div class="form-group">
          <label for="name">Science</label>
          <input type="text" class="form-control" id="mark4" required [(ngModel)]="students.mark4" name="mark4">
        </div>
        <div class="form-group">
          <label for="name">Social Science</label>
          <input type="text" class="form-control" id="mark5" required [(ngModel)]="students.mark5" name="mark5">
        </div>
  
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  
  <div [hidden]="!submitted">
    <h4>Register number already exists!</h4>
     <a href="/add">Add student</a> 
  </div>
  